<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
  <add name="KoyaConnectionString" connectionString="Data Source=192.168.0.187,12345;Initial Catalog=KoyaLawDT_New;User ID=sailfish;Password=sailfish111213"/>
</connectionStrings>
 <appSettings>
   
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=koyalawstorage;AccountKey=BMfc2a4bsNouE/dkpB6AoFJpOTYoBqDGV6v5TVQRKXvLcuIwGbuL198IXIKFcgUpdSOwAA6DqWoY7CULPsUYOg==;"/>
      <add key="documentsContainer" value="isdadocuments"/>
 <add key="pbdocumentsContainer" value="pbedocuments"/>
 <add key="isdareportstorageContainer" value="isdareportstorage"/>
    <add key="pbreportsstorageContainer" value="pbreportsstorage"/>
  </appSettings>
</configuration>