<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type=""/>
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <!--  <add name="KoyaConnectionString" connectionString="Server=tcp:ycost0zjt8.database.windows.net,1433;Database=KoyaLawDT_Staging_EST;User ID=koyaadmin@ycost0zjt8;Password=Abc123!@#;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <!--<add name="KoyaConnectionString" connectionString="Server=tcp:h5pxt0jwse.database.windows.net,1433;Database=KoyaLawDT;User ID=koyaadmin@h5pxt0jwse;Password=Abc123!@#;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>-->
    <!-- <add name="KoyaConnectionString" connectionString="Server=tcp:gp97nerzwz.database.windows.net,1433;Database=KoyaLawDT;User ID=smartek@gp97nerzwz;Password=W!rel3s$;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>-->
    <!-- <add name="KoyaConnectionString" connectionString="Server=tcp:l06q1f2e9z.database.windows.net,1433;Database=KoyaLawDT;User ID=koyaadmin@l06q1f2e9z;Password=Abc123!@#;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>-->
    <!--<add name="KoyaConnectionString" connectionString="Data Source=I3SYS3-PC\SQLEXPRESS;Initial Catalog=KoyaLawDT;Integrated Security=True"/>-->
    <!--<add name="KoyaConnectionString" connectionString="Data Source=192.168.0.109,12345;Initial Catalog=KoyaLawDT_New26;User ID=sailfish;Password=sailfish111213" />-->
    <!--<add name="KoyaConnectionString" connectionString="Data Source=192.168.0.187,12345;Initial Catalog=KoyaLawDT_New;User ID=sailfish;Password=sailfish111213"/>-->
  <add name="KoyaConnectionString" connectionString="Data Source=DELL;Initial Catalog=KoyalawDT_NewBp;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />-->
    <!-- Service Bus specific app setings for messaging connections -->
    <!-- <add key="DataConnectionString" value="DefaultEndpointsProtocol=https;AccountName=koyalawstorage;AccountKey=BMfc2a4bsNouE/dkpB6AoFJpOTYoBqDGV6v5TVQRKXvLcuIwGbuL198IXIKFcgUpdSOwAA6DqWoY7CULPsUYOg==;" /> -->
    <!--<add key="excelrooturl" value=" http://clientdemoids.cloudapp.net/"/>    -->
    <!--  <add key="pdfrooturl" value="http://demo.koyadocutracker.com/"/>-->
    <!--  <add key="excelrooturl" value="http://idskoyaexcelserver.cloudapp.net/"/>-->
    <!--Local Server Storage
    
    <add key="ErrorfromServer" value="Local System" />
    <add key="excelrooturl" value="http://idskoyaexcelserver.cloudapp.net/" />-->
    <add key="pdfrooturl" value="http://localhost:5500/"/>
    <!--Demo Server Storage-->
    <add key="ErrorfromServer" value="vyshali Demo"/>
    <add key="excelrooturl" value="http://idskoyaexcelserver.cloudapp.net/"/>
    <!--<add key="pdfrooturl" value="http://koyalaw.cloudapp.net/"/>-->
    <!--Staging East-US Server Storage
     <add key="ErrorfromServer" value="Staging East USA" />
    <add key="pdfrooturl" value="http://392f894bb41f4f71ad8883e81b85e988.cloudapp.net/" />
    <add key="excelrooturl" value="http://idseastus.cloudapp.net/" />-->
    <add key="PDFSerial" value="PHRVbWxY-WnBVXk5d-TkUEEgwc-DRwNHAUP-BRwPDRIN-DhIFBQUF"/>
    <add key="IsSiteActive" value="Active"/>
    <add key="patrickStura" value="koya"/>
    <add key="matthewrestrepo" value="koya"/>
    <add key="JonathanRosaluk" value="koya"/>
    <add key="christinenovak" value="koya"/>
    <add key="DanielPomierski" value="koya"/>
    <add key="deviskoya" value="koya"/>
    <add key="mailSetting" value="smtpout.secureserver.net"/>
    <add key="MailUserName" value="support@koyadocutracker.com"/>
    <add key="forMessagesMailID" value="message@koyadocutracker.com"/>
    <add key="MailPassword" value="1Mailrel@y"/>
    <!--Staging East-US Server Storage-->
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=koyalawstorageeastus;AccountKey=QzlV2kM3/J7UXrqEtrc6K261Qvu6P+foJZsZd4lGZI5NpEgUgTn+MXl7FFZT58v1roXSNRQ0I61csXZdhxFAdg==;" />
    <add key="profilePhoto" value="http://koyalawstorageeastus.blob.core.windows.net/userprofilephotos/" />
    <add key="ISDAReportsStorage" value="http://koyalawstorageeastus.blob.core.windows.net/isdareportstorage/" />-->
    <!--Demo Server Storage-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=koyalawstorage;AccountKey=BMfc2a4bsNouE/dkpB6AoFJpOTYoBqDGV6v5TVQRKXvLcuIwGbuL198IXIKFcgUpdSOwAA6DqWoY7CULPsUYOg==;"/>
    <add key="profilePhoto" value="http://koyalawstorage.blob.core.windows.net/userprofilephotos/"/>
    <add key="ISDAReportsStorage" value="http://koyalawstorage.blob.core.windows.net/isdareportstorage/"/>
    <add key="PBReportsStorage" value="http://koyalawstorage.blob.core.windows.net/pbreportsstorage/"/>
    <!--public Storage-->
    <add key="ClientdocumentsContainer" value="clientdocuments"/>
    <add key="documentsContainer" value="isdadocuments"/>
    <add key="pbdocumentsContainer" value="pbedocuments"/>
    <add key="isdareportstorageContainer" value="isdareportstorage"/>
    <add key="pbreportsstorageContainer" value="pbreportsstorage"/>
    <add key="photoContainer" value="userprofilephotos"/>
    <!--<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]"/>-->
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  <configuration>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="1.1.0.0" newVersion="1.7.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <publisherPolicy apply="no" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
  </configuration>
  
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=clientdemostorage;AccountKey=Hr3SdGwDr74z0gZdUH45Jy1ZdlluOMQE8NC6IQvrslXBz6dUuJcA+2IhUB5dBONF1qrF5dRCuUOj//c26wtpGw==;"/>
    <add key="profilePhoto" value="http://clientdemostorage.blob.core.windows.net/userprofilephotos/"/>
    
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=koyadocutracker;AccountKey=DStHeVnq9scWIaef88RpC1aJhrPEC3BF37F9znOqGvKtylNXJ/uO5Ma6qZG1NgBz3PmX/ccX0fjDDuUp+/6EIg==;"/>
    <add key="profilePhoto" value="http://koyadocutracker.blob.core.windows.net/userprofilephotos/"/>
    
-->
  <system.web>
    <machineKey validationKey="9D045A850D5B2B879344FC9EEA2A19399C63C62503F25EE148321E9D7EA0AD5F4DABAFE09B1231354AE66CCD2315C02F3C3DE1DF898953BFFEA8B8A9916A5EA3" decryptionKey="9AA51FB7266F3BF0D3532F938ACA7E8CBDA08710BCD0CD178DE8DE155489DA46" validation="SHA1" decryption="AES"/>
    <httpRuntime maxRequestLength="25600"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="4.0"/>
    <sessionState mode="InProc" cookieless="true" timeout="20"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
    <defaultDocument>
      <files>
        <clear/>
        <add value="ClientLogin.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>